.world-view-canvas-container {
    height: auto;
    width: auto;
    padding: 10px;
    z-index: 998;
    position: absolute;
    top: 36px;
    left: 36px;
    background: rgba(0, 0, 0, .25);
    backdrop-filter: blur(2px);
    pointer-events: none;
}